<footer class="bg-blue-950 text-white py-5 text-center">
    <div class="flex items-center justify-center space-x-4 mb-4">
        <a href="https://x.com/l4na_7" target="_blank">
            <i class="fa-brands fa-x-twitter text-3xl md:text-4xl"></i>
        </a>
        <a href="https://github.com/l4na-git" target="_blank">
            <i class="fa-brands fa-github text-3xl md:text-4xl"></i>
        </a>
        <a href="https://note.com/l4na" target="_blank">
            <img src="../images/note-white.svg" alt="note" class="w-8 h-8 inline-block">
        </a>
    </div>
    <div class="font-manrope">
        <small>&copy; 2025 l4na</small>
    </div>
</footer>