<div id="product" class="container py-20 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full scroll-mt-24">
    <section class="w-full">
        <h2 class="secondary-title">Product</h2>
        <h3 class="tertiary-title">制作物</h3>
        <p class="section-paragraph note">
            私がこれまでに制作したものたちです。<br>
            まだまだ拙いものばかりですがこれからもたくさん学習して、より良いものを作れるように頑張ります!
        </p>
        <ul>
            <li class="my-7">
                <div class="flex items-center">
                    <i class="fa-solid fa-rocket text-theme mr-2"></i>
                    <p class="font-bold">プロフィールサイト</p>
                </div>
                <div class="border-l-2 border-theme pl-4 my-3">
                    <p>このWebサイトです。<br>
                        Tailwind CSSやExpress.jsなどを学習して作成しました。</p>
                    </p>
                    <a href="https://github.com/l4na-git/profile" target="_blank">
                        <img src="https://socialify.git.ci/l4na-git/profile/image?custom_description=l4na%E3%81%AE%E3%83%97%E3%83%AD%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%82%B5%E3%82%A4%E3%83%88%0A%23Tailwind+CSS+%23Express.js&description=1&font=Inter&language=1&name=1&theme=Light" alt="profile" width="640" height="320" 
                            class="my-5 shadow-sm rounded-xl"/>
                    </a>
                </div>
            </li>
            <li class="my-7">
                <div class="flex items-center">
                    <i class="fa-solid fa-rocket text-theme mr-2"></i>
                    <p class="font-bold">News配信</p>
                </div>
                <div class="border-l-2 border-theme pl-4 mt-3">
                    <p>Discordにニュース配信をします。<br>
                        WebHookやAWSのlambdaやEventBridge、RSSの学習になりました。改善中です。</p>
                    <a href="https://github.com/l4na-git/discord-news-bot" target="_blank">
<img src="https://socialify.git.ci/l4na-git/discord-news-bot/image?custom_description=Discord%E3%81%AB%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9%E3%82%92%E9%85%8D%E4%BF%A1%0A%23WebHook+%23AWS+lambda+%23Amazon+EventBridge&description=1&language=1&name=1&theme=Light" alt="discord-news-bot" width="640" height="320"                        class="my-5 shadow-sm rounded-xl"/>
                    </a>
                </div>
            </li>
            <li class="my-7">
                <div class="flex items-center">
                    <i class="fa-solid fa-rocket text-theme mr-2"></i>
                    <p class="font-bold">Hit and Blow (ゲーム)</p>
                </div>
                <div class="border-l-2 border-theme pl-4 mt-3">
                    <p>1年生後期の修了課題で作成したものをWebで動作するように改良したものです。<br>
                    拙いプログラムだと思いますが、初めて「プログラムを書いた!」という風に感じることができました。</p>
                    <a href="https://github.com/l4na-git/hit-and-blow-web" target="_blank">
<img src="https://socialify.git.ci/l4na-git/hit-and-blow-web/image?custom_description=1%E5%B9%B4%E5%BE%8C%E6%9C%9F%E3%81%AE%E8%AA%B2%E9%A1%8C%E3%81%A7%E4%BD%9C%E6%88%90%E3%81%97%E3%81%9FCLI%E3%81%A7%E5%8B%95%E3%81%8F%0AHit%EF%BC%86Blow%E3%82%92Web%E3%81%A7%E5%8B%95%E4%BD%9C%E3%81%99%E3%82%8B%E3%82%88%E3%81%86%E3%81%AB%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%E3%80%82%0A%23Streamlit&description=1&language=1&name=1&theme=Light" alt="hit-and-blow-web" width="640" height="320"                        class="my-5 shadow-sm rounded-xl"/>
                    </a>
                </div>
            </li>
        </ul>
    </section>
</div>