<div id="about" class="container py-20 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full scroll-mt-24">
    <section class="w-full">
        <h2 class="secondary-title">About me</h2>
        <h3 class="tertiary-title">はじめまして</h3>
        <p class="section-paragraph note">
            IT系の4年制専門学校に通っている学生です。現在2年生です。<br>
            入学前はITについて学んだことがなかったため知識は浅いですが、その分やる気や好奇心などの気持ちの面では自信を持てるように行動しています。<br>
            そのかいあって、今は勉強を進めていくことがとても楽しいです！<br>
            うまく行かないことも多いですが、これからも色々なことに挑戦していきます！
        </p>
        <h3 class="tertiary-title">大切にしたいこと</h3>
        <p class="section-description">
            日々の生活の中で大切にしたいと思っていることを偉人達の名言などと一緒にご紹介します。
        </p>
        <div class="note">
            <ul>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-chevron-right mr-2 text-theme"></i>
                        <p>努力を積み重ねること</p>
                    </div>
                    <div class="border-l-2 border-theme pl-4 mt-3">
                        <div class="flex items-start">
                            <i class="fa-solid fa-quote-right mr-1 text-theme"></i>
                            <p class="font-bold">天才とは努力する凡才のことである</p>
                        </div>
                            <span class="italic text-theme">アルバート・アインシュタイン</span>
                    </div>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-chevron-right mr-2 text-theme"></i>
                        <p>失敗を強みにすること</p>
                    </div>
                    <div class="border-l-2 border-theme pl-4 mt-3">
                        <div class="flex items-start">
                            <i class="fa-solid fa-quote-right mr-1 text-theme"></i>
                            <p class="font-bold">「失敗」ではない。「成果」だ。</p>
                        </div>
                            <span class="italic text-theme">糸川英夫</span>
                    </div>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-chevron-right mr-2 text-theme"></i>
                        <p>やりたいことをやってみること</p>
                    </div>
                    <div class="border-l-2 border-theme pl-4 mt-3">
                        <div class="flex items-start">
                            <i class="fa-solid fa-quote-right mr-1 text-theme"></i>
                            <p class="font-bold">思い立ったが吉日</p>
                        </div>
                            <span class="italic text-theme">日本のことわざ</span>
                    </div>
                </li>
            </ul>
        </div>
        <h3 class="tertiary-title">資格や試験など</h3>
        <p class="section-description">
            これまでに取得した資格や試験たちです。
        </p>
        <div class="note">
            <ul>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-pen text-theme mr-2"></i>
                        <p class="font-bold">paiza Bランク</p>
                    </div>
                    <span class="italic text-theme">2024/12</span>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-pen text-theme mr-2"></i>
                        <p class="font-bold">基本情報技術者試験</p>
                    </div>
                    <span class="italic text-theme">2025/02</span>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-pen text-theme mr-2"></i>
                        <p class="font-bold">paiza Aランク</p>
                    </div>
                    <span class="italic text-theme">2025/05</span>
                </li>
            </ul>
        </div>
        <h3 class="tertiary-title">参加した大会</h3>
        <p class="section-description">
            積極的に参加しています。
        </p>
        <div class="note">
            <ul>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-rocket text-theme mr-2"></i>
                        <p class="font-bold">自動運転AIチャレンジ 予選</p>
                    </div>
                    <span class="text-theme">2024/07 - 2024/08</span>
                    <p>正直開発には全く関わることができませんでしたが、活動日には積極的に参加しました。<br>
                        知識がないことがとても悔しかったですが、授業で学んでない技術や授業では扱わない技術に触れることができ今後の学習への意欲を高めることができました。</p>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-rocket text-theme mr-2"></i>
                        <p class="font-bold">ドロカツ 東日本大会</p>
                    </div>
                    <span class="text-theme">2024/11 - 2024/12</span>
                    <p>頑張った。やりきった。と自信を持って言えるくらい時間を費やして取り組みました。<br>
                        当日実機が正常に動かないというアクシデントがあり悔いが残りますが、たくさん悩んで試行錯誤をした経験は宝物だと感じています。</p>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-rocket text-theme mr-2"></i>
                        <p class="font-bold">自動運転AIチャレンジ 予選</p>
                    </div>
                    <span class="text-theme">2025/07 - 2025/08</span>
                    <p>現在活動中です!<br>
                        前回の悔しさをバネに、AIを活用しながら現在挑戦しています。</p>
                </li>
            </ul>
        </div>
        <h3 class="tertiary-title">興味のある分野や技術</h3>
        <p class="section-description">
            私が特に興味を持っている分野や技術について紹介します。
        </p>
        <div class="note">
            <ul>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-brands fa-linux mr-2 text-theme"></i>
                        <p class="font-bold">Linux</p>
                    </div>
                    <p>操作や仕組みにも興味があります。自分のLinuxマシン名を「mytux」という名前にしてしまうくらい、Linuxを触っている時間がとても好きです!</p>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-brands fa-aws mr-2 text-theme"></i>
                        <p class="font-bold">AWS</p>
                    </div>
                    <p>何度かオンラインでJAWS-UGに参加しています。いつかオフラインで参加したいと思っています!</p>
                </li>
                <li class="my-6">
                    <div class="flex items-center">
                        <i class="fa-solid fa-shield-halved mr-2 text-theme"></i>
                        <p class="font-bold">セキュリティ</p>
                    </div>
                    <p>人から信頼してもらえるサービスやシステムを作れる人になりたいと思っています。</p>
                </li>
            </ul>
        </div>
    </section>
</div>
